<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="card">
        <div class="card-header card-header-filter d-flex align-items-center justify-content-between ">
          <h5 class="card-title">Filtros de Equipos</h5>
          <button
            class="btn btn-link p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCardContent"
            aria-expanded="false"
            aria-controls="filterCardContent"
            (click)="toggleExpand()"
          >
            <i
              class="fa"
              [ngClass]="{
                'fa-chevron-up': isExpanded,
                'fa-chevron-down': !isExpanded
              }"
            ></i>
          </button>
        </div>
        <div id="filterCardContent" class="collapse">
          <div class="card-body">
            <form [formGroup]="equipmentFilterForm">
              <div class="row mb-3">
                <div class="col-sm-4">
                  <label for="name" class="form-label">Nombre</label>
                  <input
                    id="name"
                    type="text"
                    formControlName="name"
                    class="form-control"
                    placeholder="Ingrese el nombre del equipo"
                  />
                </div>
                <div class="col-sm-4">
                  <label for="description" class="form-label"
                    >Descripción</label
                  >
                  <input
                    id="description"
                    type="text"
                    formControlName="description"
                    class="form-control"
                    placeholder="Ingrese la descripción"
                  />
                </div>
                <div class="col-sm-4">
                  <label for="status" class="form-label">Estado</label>
                  <select
                    id="status"
                    class="form-select"
                    formControlName="status"
                  >
                    <option value="">Seleccione un estado</option>
                    <option value="Disponible">Disponible</option>
                    <option value="En uso">En uso</option>
                    <option value="En mantenimiento">En mantenimiento</option>
                    <option value="Dañado">Dañado</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label for="category" class="form-label">Categoría</label>
                  <ng-select
                    [items]="categories"
                    bindLabel="name"
                    bindValue="name"
                    placeholder="Seleccione una categoría"
                    formControlName="categoryName"
                  ></ng-select>
                </div>
              </div>
            </form>
            <div class="text-end">
              <button
                type="button"
                class="btn btn-sm btn-restore me-1"
                (click)="resetFilter()"
              >
                Restablecer
              </button>
              <button
                type="button"
                class="btn btn-sm btn-head me-1 btn-wide-filter-send"
                (click)="sendFilter()"
              >
                Filtrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
