<div class="container-fluid basic_table">
  <app-breadcrumb></app-breadcrumb>
  <div class="row widget-grid">
    <div class="col-md-6 same-height">
      <app-card-categories></app-card-categories>
    </div>
    <div class="col-md-6 same-height">
      <app-card-users-equipment></app-card-users-equipment>
    </div>
  </div>
  <div class="row widget-grid">
    <div class="col-md-6 same-height">
      <app-card-users></app-card-users>
    </div>
    <div class="col-md-6 same-height">
      <app-card-equipment></app-card-equipment>
    </div>
  </div>
</div>
