<div class="container-fluid basic_table">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="text-end">
          <!-- Botón para recargar la tabla -->
          <button
            class="btn btn-sm btn-refresh me-3"
            [disabled]="loading"
            ngbTooltip="Recargar tabla"
            tooltipClass="custom-tooltip"
            (click)="reloadTable()"
          >
            <i class="fas fa-sync-alt"></i>
          </button>

          <!-- Botón para abrir el modal de crear usuario -->
          <button
            class="btn btn-sm btn-head me-3"
            ngbTooltip="Crear Usuario"
            tooltipClass="custom-tooltip"
            [disabled]="loading"
            (click)="openCreateEditModal()"
          >
            <i class="fa-solid fa-circle-plus"></i> Crear Usuario
          </button>
        </div>
      </div>

      <div class="card-body custom-datatable noscroll">
        <div class="table-responsive signal-table custom-datatable">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Roles</th>
                <th>Equipos Asignados</th>
              </tr>
            </thead>

            <tbody>
              <!-- Loader -->
              <tr *ngIf="loading">
                <td colspan="6" class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Cargando...</span>
                  </div>
                </td>
              </tr>

              <!-- Fila de usuarios -->
              <tr *ngFor="let user of users">
                <td>
                  <div class="btn-group mb-2">
                    <button
                      class="btn btn-sm mt-2 btn-light"
                      ngbTooltip="Ver Usuario"
                      tooltipClass="custom-tooltip"
                      (click)="openViewModal(user)"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-danger mt-2"
                      ngbTooltip="Eliminar Usuario"
                      tooltipClass="custom-tooltip"
                      (click)="deleteUser(user._id)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-success mt-2"
                      ngbTooltip="Editar Usuario"
                      tooltipClass="custom-tooltip"
                      (click)="openCreateEditModal(user)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </td>
                <td>{{ user.fullName || "Sin nombre" }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.roles?.join(", ") || "Sin roles" }}</td>
                <td>{{ user.equipmentNames }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
